<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Add a Student</title>
    <style type="text/css">
        body{
            background: #FFF ;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .container{
            background: #FFF;
            margin: 0 auto;
            text-align: left;
        }

        .header{
            padding: 10px 0;
            background: #eee;
        }

        .sidebar{
            float: left;
            width: 200px;
            background: #FFF;
        }

        .maincontent{
            width: 570px;
            background: #FFF;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <form action="/admin/logout" method="get">
            <input value="Log out" type="submit"/>
        </form>
    </div>

    <div class="content">
        <div class="sidebar">
            <h1>
                <form action="/admin/profile" method="get">
                    <input value="Profile" type="submit"/>
                </form>
            </h1>
            <h1>
                <form action="/admin/proflist" method="get">
                    <input value="Professor List" type="submit"/>
                </form>
            </h1>
            <h1>
                <form action="/admin/stulist" method="get">
                    <input value="Student List" type="submit"/>
                </form>
            </h1>
            <h1>
                <form action="/admin/courselist" method="get">
                    <input value="Course List" type="submit"/>
                </form>
            </h1>
            <h1>
                <form action="/admin/intimereq" method="get">
                    <input value="In-time Request" type="submit"/>
                </form>
            </h1>
            <h1>
                <form action="/admin/latereq" method="get">
                    <input value="Late Request" type="submit"/>
                </form>
            </h1>
        </div>
        <div class="maincontent">
            <h1>Add a Student</h1>
            <br>
            <b>Information of the Student</b>
            <br>
            <br>
            <div class="signup"  align="center">
                <form th:action="@{/student/save/}+${id}" method="post">
                    <div class="signup_line">
                        <div>Student Number: </div>
                        <div name="id" th:text="${id}"></div>
                    </div>
                    <br>
                    <div class="signup_line">
                        <div>First Name: </div>
                        <input name="fName" th:value="${req.fName}"></input>
                    </div>
                    <br>
                    <div class="signup_line">
                        <div>Last Name: </div>
                        <input name="lName" th:value="${req.lName}"></input>
                    </div>
                    <br>
                    <div class="signup_line">
                        <div>Birthday: (YYYY/MM/DD)</div>
                        <input name="birthday" th:value="${req.birthday}"></input>
                    </div>
                    <br>
                    <div class="signup_line">
                        <div>Request Number: </div>
                        <input name="reqid" th:value="${req.id}"></input>
                    </div>
                    <br>
                    <input value="SUBMIT" type="submit"/>

                </form>
                <br>
                <form th:action="@{/request/reject/}+${req.id}" method="post">

                    <input value="REJECT" type="submit"/>
                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>