<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Index Webpage</title>

        <link href="css/index.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div align="center">
            <br><br><br><br>
            <h2>Welcome to Index page</h2>
            <form action="/student/login" method="get">
                <input value="Login as Student" type="submit"/>
            </form>
            <form action="/professor/login" method="get">
                <input value="Login as Professor" type="submit"/>
            </form>
            <form action="/admin/login" method="get">
                <input value="Login as Admin" type="submit"/>
            </form>
        </div>

    </body>
</html>