<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Log in Webpage</title>

      <link href="css/index.css" rel="stylesheet" type="text/css">
  </head>

  <body >
    <div align="center">
        <br><br><br><br>
          <h2>Log in</h2>
            <div id="center">
              <div class="login"  align="left">
                <div class="login_line" style="margin-top:35px">
                  <div style="float:left;margin-left:10px">Username: </div>
                  <input type="text" style="width:140px;float:left;margin-left:10px"/>           
                </div>
               
               <div class="login_line">
                    <div style="float:left;margin-left:10px">Password: </div>
                    <input type="password" style="width:140px;float:left;margin-left:10px"/>           
               </div>
               
               <div class="login_line">
                    <input type="button" value="Log in" style="width:60px;float:left;margin-left:10px"/>    
               </div>
               
            </div>
            <img style="width:100px; height:100px; float:left;margin:350px 0px 0px 200px;border-radius:50px" src="img/leaf.jpg">
            
        </div> 
    </div>

  </body>
</html>