<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Log in Webpage</title>

    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
<div align="center">
    <br><br><br><br>
    <h2>Log in Student</h2>
    <div id="center">
        <div class="login"  align="left">
            <form action="/student/login" method="post">
                <div class="login_line">
                    <div>Username: </div>
                    <input type="text" name="username"/>
                </div>
                <br>
                <br>
                <div class="login_line">
                    <div >Password: </div>
                    <input type="password" name="password"/>
                </div>
                <br>
                <br>

                <input value="LOGIN" type="submit"/>
            </form>

        </div>

    </div>
</div>

</body>
</html>