<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Log in Webpage</title>

    <style type="text/css">
        body{
            background: #FFF ;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .header{
            padding: 10px 0;
            background: #eee;
        }
    </style>

    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="header">
    <form action="/index" method="get">
        <input value="Index Page" type="submit"/>
    </form>
</div>
<div align="center">
    <br><br><br><br>
    <h2>Log in Student</h2>
    <div id="center">
        <div class="login"  align="center">
            <form action="/student/login" method="post">
                <div class="login_line">
                    <div>Username: </div>
                    <input type="text" name="username"/>
                </div>
                <br>
                <br>
                <div class="login_line">
                    <div >Password: </div>
                    <input type="password" name="password"/>
                </div>
                <br>
                <br>

                <input value="LOGIN" type="submit"/>
            </form>

        </div>

    </div>
</div>

</body>
</html>